@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600');
.main{
  margin: auto;
  width: fit-content;
  margin-top: 50px;
  padding: 35px;
  width: 900px;
  height: 2200px;
  box-shadow: 0px 0px 10px grey;
  text-align: justify;
}
.main p,strong,li{
  /* font-family: Times new roman; */
  font-size: 20px;
}
h2{
  padding-top: 10px;
}
.main{
  font-family: sans-serif;
}
h1,h2{
  font-family: Josefin Sans;
}