
h1{
      font-size:45px;
      font-family: "Josefin+Sans";
      color: brown;
      padding-top: 2%;
  }

  h2{
      font-size:40px;
  }

  label{
    font-size: 25px;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .img{
   margin-left: 23%;
   padding: 3%;
   width: 50%;
   height: 40%;

  }

  th{
    font-size: 18px;
    text-align: center;
  }

  td {
    text-align: center;
    padding-left: 7.5px;
    padding-right: 7.5px;
    height: 40px;
    width: 20%;
    font-family: "Cutive+Mono";
    font-size: 15px;
  }
  
  td:first-child {
    padding-left: 13px;
  }
  
  td:last-child {
    padding-right: 0;
  }
  
  table{
    size: 100%;
    table-layout: fixed;
  
   }
